################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MRT_ML/FileContentIndex/621f5049-23fc-4d42-a4d2-a5c0db53f2e0.vsidx
/.vs/MRT_ML/FileContentIndex/9bc46672-9cd7-4da5-abd2-77a041f6c419.vsidx
/.vs/MRT_ML/FileContentIndex/de531978-d658-4d44-9dd3-c2727e1b86f9.vsidx
/.vs/MRT_ML/FileContentIndex
/.vs/MRT_ML/v17
/.vs
